<template>
		<div>
			<nav class="panel">
			  <p class="panel-heading">
			    Archives
			  </p>
			  <a class="panel-block" v-for="article in articles">
			    <span class="panel-icon">
			      <i class="fas fa-book"></i>
			    </span>
			     <nuxt-link :to="`/article/${article.id}`">
              {{ article.title }}
            </nuxt-link>
			  </a>
			  
			</nav>
		</div>
	
</template>

<script>
	import articles from '~/articles.json'
	
	export default{
		name: 'articles',
		data () {
			return{
				articles
			}
		}
	}

</script>