<template>
	<div class="container">
		<div class="column is-8">
			<div v-for="article in articles">
				<div class="card article">
		      <div class="card-content">
		        <div class="media">
		          <div class="media-center">
		              <img src="http://www.radfaces.com/images/avatars/daria-morgendorffer.jpg" class="author-image" alt="Placeholder image">
		          </div>
		          <div class="media-content has-text-centered">
		            <p class="title article-title">{{ article.title }}</p>
		            <p class="subtitle is-6 article-subtitle">
		              <a href="#"></a> {{ article.published }}
		            </p>
		            <p class="subtitle is-6 article-subtitle">
		            	<a href="#"></a>written by: {{ article.author }}
		            </p>
		          </div>
		        </div>

		      <div class="content article-body">
		          <p>
		          	{{ article.summary }}
		          </p>
		        </div>
		      </div>
		      <footer class="card-footer">
            <nuxt-link :to="`/article/${article.id}`" 
              class="card-footer-item">
              Read More
            </nuxt-link>
          </footer>

		    </div>
			</div>
	    <!-- END ARTICLE -->
		</div>
	</div>
</template>

<script>
	import articles from '~/articles.json'

	export default{
		name: 'articles',
		data() {
			return {
				articles
			}
		}
	}

</script>