<template>
  <div>
    <nav class="navbar is-white">
      <div class="navbar-brand">
        <a class="navbar-item brand-text" href="/">
          Leigh's Note         
        </a>
        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <nuxt-link class="navbar-item" to="/">
            Blogs
          </nuxt-link>
          <nuxt-link class="navbar-item" to="/til">
            Today I Learned
          </nuxt-link>
          <nuxt-link class="navbar-item" to="/archives">
            Archives
          </nuxt-link>
          <nuxt-link class="navbar-item" to="/about">
            About Me
          </nuxt-link>
          <nuxt-link class="navbar-item" to="/contact">
            Contact
          </nuxt-link>
        </div>
      </div>
    </nav>
    <!-- END NAV -->
    <div class="container">
      
      <nuxt/>
    </div>
  </div>
      
</template>

<script>
  export default{
    head:{
      title: 'Home'
    }
  }
</script>
<style>
  
</style>
