<template>
	<div class="container">
		
	</div>
</template>

<script>
	export default{
		head: {
			title: 'About Me'
		},
		data(){
			return{
				name: 'Leigh Dinaya',
				position: 'Software Developer',
				age: 25,
				address: 'Bataan in Central Luzon, Philippines'
			}
		}
	}
</script>
<style>
	
</style>