<template>
	<div class="container" style="padding: 50px;">
		<div class="columns">
			<div class="column">
				<archives/>
			</div>
		</div>
	</div>
</template>

<script>
	import Archives from '~/components/Archives.vue'

	export default{
		head: {
			title: 'Archives'
		},
		components: {
			Archives
		}
	}
</script>