<template>
	<div class="container">
    <section class="hero is-primary is-bold is-small promo-block">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
          <i class="fa fa-bell-o"></i>
          Hi! This is Leigh Dinaya.
          </h1>
          <h2 class="subtitle">
          A pragmatist and passionate web developer. Welcome to my blog.
          </h2>
        </div>
      </div>
    </section>
		<div class="columns">
			<div class="column is-8">
			  <articles/>
			</div>
			<div class="column is-4" style="padding-top: 95px;">
				<archives/>
			</div>
		</div>
	</div>
</template>

<script>
import Articles from '~/components/Articles.vue'
import Archives from '~/components/Archives.vue'

export default {
  components: {
    Articles,
    Archives
  }
}
</script>

<style>

</style>
