<template>
	<div class="container">
		<div class="card article">
      <div class="card-content">
        <div class="media">
          <div class="media-center">
              <img src="http://www.radfaces.com/images/avatars/daria-morgendorffer.jpg" class="author-image" alt="Placeholder image">
          </div>
          <div class="media-content has-text-centered">
            <p class="title article-title">{{ article.title }}</p>
            <p class="subtitle is-6 article-subtitle">
              <a href="#"></a> {{ article.published }}
            </p>
            <p class="subtitle is-6 article-subtitle">
            	<a href="#"></a>written by: {{ article.author }}
            </p>
          </div>
        </div>

      <div class="content article-body">
          <p>
          	{{ article.content }}
          </p>
        </div>
      </div>
		</div>
	</div>
</template>

<script>
	import articles from '~/articles.json'
	
	export default{
		validate ({ params }){
			return /^\d+$/.test(params.id)
		},
		asyncData ({ params }, callback){
			let article = articles.find(article => article.id === parseInt(params.id))
			if(article){
				callback(null, { article })
			} else {
				callback({ statusCode: 404, message: 'Article not found' })
			}
		},
		head () {
			return {
				title: this.article.title,
				meta: [
					{
						hid: 'description',
						name: 'description',
						content: this.article.summary
					}
				]
			}
		}
	}
</script>